@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Rye&display=swap');



#main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:2rem;
  align-items: center;
  align-self: center;

}

h1{
  font-family: "Rye",serif;
}

img {
  width: 700px;
}

p{
  font-family: "Arbutus", serif;
}